@model IEnumerable<Library.TypeLayer.BookList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<!--Search Box-->
<div class="d-flex justify-content-center" style="margin:10px;font-size:22px;">
    Arama Kutucuğu:&nbsp;<input type="text" id="myinput" />
</div>
<div style="padding:30px;">
<div class="my-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model=>model.BookID)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.BookName)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.Author)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.NumberOfPages)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.PublicationDate)</th>
                <th scope="col">@Html.DisplayNameFor(model=>model.Publisher)</th>
            </tr>
        </thead>
            <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(ModelItem=>item.BookID)</th>
                    <td>@Html.DisplayFor(ModelItem=>item.BookName)</td>
                    <td>@Html.DisplayFor(ModelItem=>item.Author)</td>
                    <td>@Html.DisplayFor(ModelItem=>item.NumberOfPages)</td>
                    <td>@Html.DisplayFor(ModelItem=>item.PublicationDate)</td>
                    <td>@Html.DisplayFor(ModelItem=>item.Publisher)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>

<script>
    $(document).ready(function () {
        $("#myinput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            })
        })
    })
</script>


